<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PangyaEntities" connectionString="metadata=res://*/DataBase.EFPangya.csdl|res://*/DataBase.EFPangya.ssdl|res://*/DataBase.EFPangya.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TROPEHOST\SQL_2012;initial catalog=Pangya;user id=sa;password=123@vps;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>