<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PangyaAPI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PangyaAPI.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=TROPEHOST\SQLEXPRESS;Initial Catalog=Pangya;User ID=sa;Password=#Eant1309</value>
            </setting>
        </PangyaAPI.Settings>
    </userSettings>
</configuration>